extends layout/layout

block content
  div(class='main')
    div(class='side-bar',ng-include="'/app/partials/sidemenu.html'")
    div(class='content-wrapper')
      div(class='content',ng-view )
    div(class='clearfix')

block script
  script(type='text/javascript',src='/javascripts/require.js',data-main='/app/main.js')
