/*begin override bootstrap style*/
.btn{
    border-radius: 0;
}
/*begin override bootstrap style*/

/*begin header style*/
.header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #333333;
}

.header .header-brand {
    margin-left: 10px;
    height: 50px;
    width: 200px;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
    color: white;
}

.header .header-brand .brand-logo {
    height: 40px;
    margin-top: -8px;
}

.header .header-brand span {
    font-size: 24px;
    line-height: 50px;
}

.header .header-brand span small {
    margin-left: 5px;
    font-size: 14px;
}

.header .account {
    display: inline;
    line-height: 50px;
    margin-right: 10px;
}

.header .account .dropdown-menu a {
    color: black;
}

/*end header style*/

/*begin footer style*/
.footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: #333333;
}

/*end footer style*/

/*begin main style*/
.main {
    margin-top: 50px;
}

.main .side-bar {
    position: fixed;
    left: 0;
    top: 50px;
    float: left;
    margin-right: -100%;
    margin-top: 10px;
    width: 230px;
    height: auto;
    max-height: none;
    background-color: #364150;
}

.main .content-wrapper {
    width: 100%;
    float: left;
}

.main .content-wrapper .content {
    margin-left: 230px;
    padding: 25px 20px 10px 20px;
    min-height: 600px;
    background-color: white;
}

/*end main style*/

/*begin side-menu-view style*/
.side-menu-view .side-menu {
    list-style: none;
}

.side-menu-view .submenu {
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.side-menu-view .side-menu .menu-item {
    display: block;
}

.side-menu-view .side-menu .menu-item a {
    color: #b4bcc8;
    text-decoration: none;
}

.side-menu-view .side-menu .menu-item a:hover {
    background-color: #2C3542;
}

.side-menu-view .side-menu .menu-item > a {
    display: block;
    padding: 10px 15px;
    border-top: 1px solid #3d4957;
}

.side-menu-view .side-menu .menu-item.active > a {
    background: #1caf9a;
    color: white;
}

.side-menu-view .side-menu .menu-item .submenu {
    display: none;
}

.side-menu-view .side-menu .menu-item.active .submenu {
    display: block;
}

.side-menu-view .side-menu .menu-item > a > i {
    margin-right: 4px;
    font-size: 20px;
}

.side-menu-view .side-menu .menu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu-view .side-menu .menu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item > a {
    display: block;
    padding: 6px 15px 6px 30px;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item.active > a {
    background: #3e4b5c;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item > a > i {
    visibility: hidden;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item.active > a > i {
    visibility: visible;
    font-size: 12px;
    margin-right: 5px;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item .sub-submenu {
    display: none;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item.active .sub-submenu {
    display: block;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item .sub-submenu .sub-submenu-item > a {
    display: block;
    padding: 4px 10px 4px 60px;
}

.side-menu-view .side-menu .menu-item .submenu .submenu-item .sub-submenu .sub-submenu-item.active > a {
    background: #578ebe;
}

/*end side-menu-view style*/