/*begin global style*/
body {
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

/*end global style*/

/*begin header style*/
.header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #333333;
}

.header .header-brand {
    margin-left: 10px;
    height: 50px;
    width: 200px;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
    color: white;
}

.header .header-brand .brand-logo {
    height: 40px;
    margin-top: -8px;
}

.header .header-brand span {
    font-size: 24px;
    line-height: 50px;
}

.header .header-brand span small {
    margin-left: 5px;
    font-size: 14px;
}

.header .account {
    display: inline;
    line-height: 50px;
    margin-right: 10px;
}

.header .account .dropdown-menu a {
    color: black;
}

/*end header style*/

/*begin footer style*/
.footer {
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: grey;
}

/*end footer style*/

/*begin main style*/
.main {
    margin-top: 50px;
}

.main .side-menu {
    width: 20%;
    float: left;
}

.main .content {
    width: 80%;
    float: right;
}

/*end main style*/