<div ng-controller="billing.subscribe">
  <div class="le-row operate-panel">
        <div class="le-col-2">
            <input type="text" ng-model="productName" class="le-form-control" placeholder="订阅产品名称">
        </div>
        <div class="le-col-2">
            <input type="text" ng-model="baseRegionName" class="le-form-control" placeholder="订阅所属地域">
        </div>
         <div class="le-col-2">
            <ui-select ng-model="selectedUsername.selected" theme="bootstrap">
                <ui-select-match placeholder="请选择用户名">{{$select.selected.text}}</ui-select-match>
                <ui-select-choices repeat="username in userNameList | propsFilter: {text: $select.search}">
                    <div>{{username.text}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="le-col-2">
            <button class="btn btn-primary" ng-click="doFilter()">筛选</button>
            <button class="btn btn-default" ng-click="doClear()">清除</button>
        </div>
    </div>
    <div class="le-row grid">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>产品名称</th>
                <th>地域</th>
                <th>付费方式</th>
                <th>购买个数</th>
                <th>创建时间</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>订阅用户</th>
                <th>有效期(月)</th>
                <th>是否有效</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody id="tby">
              <tr ng-repeat="sb in subscribeList">
                <td><a class="link" href="/list/mcluster#/billing/subscribe/detail/{{sb.id}}">{{sb.productName}}</td>
                <td>{{sb.baseRegionName}}</td>
                <td>{{sb.chargeType | billingTypeFilter}}</td>
                <td>{{sb.orderNum}}</td>
                <td>{{sb.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{sb.startTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{sb.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{sb.userName}}</td>
                <td>{{sb.orderTime}}</td>
                <td>{{sb.valid | subscribeValidFilter}}</td>
                <td>
                  <a href="javascript:void(0);" title="删除" ng-click="">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </td>
              </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" direction-links="false" ng-change="onPageChange()" items-per-page="pageSize" total-items="totalItems" ng-model="currentPage" class="pagination-sm" first-text="&laquo;" last-text="&raquo;">
        </pagination>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-bottom-right'}"></toaster-container>
</div>
