<div class="header">
    <a class="header-brand" href="/">
        <img class="brand-logo" src="/images/brand-logo.png">
        <span>PAAS portal<small>beta</small></span>
    </a>
    <div class="dropdown pull-right account">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">jiangfei<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);">账户信息</a></li>
            <li><a href="javascript:void(0);">退出</a></li>
        </ul>
    </div>
</div>