doctype html
html
  head
    title= mcluster
    block link
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='main',ng-app='myApp')
      div(class='side-menu',ng-include="'/mcluster/templates/sidemenu.html'")
      div(class='content',ng-view )
      div(class='clearfix')
    //vendor
    script(type='text/javascript',src='/javascripts/jquery-1.11.3.js')
    script(type='text/javascript',src='/javascripts/bootstrap.js')
    script(type='text/javascript',src='/javascripts/angular.js')
    script(type='text/javascript',src='/javascripts/angular-route.js')
    //app
    script(type='text/javascript',src='/mcluster/app.js')
    script(type='text/javascript',src='/mcluster/app.route.js')
    script(type='text/javascript',src='/mcluster/controllers.js')
    script(type='text/javascript',src='/mcluster/services.js')
    script(type='text/javascript',src='/mcluster/directives.js')
                                                                                                        