<div class="container-cluster-view" ng-controller="rds.cluster-manage.ContainerClusterCrtl">
    <div class="le-row operate-panel">
        <div class="le-col-2">
            <input type="text" ng-model="searchMclusterName" class="le-form-control" placeholder="container集群名称">
        </div>
        <div class="le-col-2">
            <ui-select ng-model="selectedPhysicalCluster.selected" theme="bootstrap">
                <ui-select-match placeholder="所属物理机集群">{{$select.selected.text}}</ui-select-match>
                <ui-select-choices repeat="cluster in physicalClusterList | propsFilter: {text: $select.search}">
                    <div>{{cluster.text}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="le-col-2">
            <ui-select ng-model="selectedUser.selected" theme="bootstrap">
                <ui-select-match placeholder="所属用户">{{$select.selected.text}}</ui-select-match>
                <ui-select-choices repeat="user in userList | propsFilter: {text: $select.search}">
                    <div>{{user.text}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="le-col-2">
            <ui-select ng-model="selectedStatus.selected" theme="bootstrap">
                <ui-select-match placeholder="请选择状态">{{$select.selected.text}}</ui-select-match>
                <ui-select-choices repeat="status in statusList | propsFilter: {text: $select.search}">
                    <div>{{status.text}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="le-col-2">
            <button class="btn btn-primary" ng-click="doFilter()">筛选</button>
            <button class="btn btn-default" ng-click="doClear()">清除</button>
        </div>
    </div>
    <div class="le-row grid">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Container集群名称</th>
                <th>所属物理机集群</th>
                <th>类型</th>
                <th>所属用户</th>
                <th>创建时间</th>
                <th>当前状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tby">
            <tr ng-repeat="mc in mclusterList">
                <td><a class="link" href="/detail/mcluster/{{mc.id}}">{{mc.mclusterName}}</a></td>
                <td>
                    <a class="link" href="/detail/hcluster/{{mc.hclusterId}}">{{mc.hcluster.hclusterNameAlias}}</a>
                </td>
                <td>{{mc.type | mclusterTypeFilter}}</td>
                <td>{{mc.createUserModel.userName}}</td>
                <td>{{mc.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{mc.status | mclusterStatusFilter}}</td>
                <td>
                    <a href="javascript:void(0);" title="启动" ng-click="startMcluster(mc)">
                        <i class="fa fa-play-circle-o"></i>
                    </a>
                    <a href="javascript:void(0);" title="停止" ng-click="stopMcluster(mc)">
                        <i class="fa fa-power-off"></i>
                    </a>
                    <a href="javascript:void(0);" title="删除" ng-click="deleteMcluster(mc)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" direction-links="false" ng-change="onPageChange()" items-per-page="pageSize" total-items="totalItems" ng-model="currentPage" class="pagination-sm" first-text="&laquo;" last-text="&raquo;">
        </pagination>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-bottom-right'}"></toaster-container>
</div>